<tlp-paginator [location]="'top'" [currentPage]="currentPage" [totalPages]="totalPages" [pageSize]="pageSize" [pageSizes]="pageSizes"
    (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
</tlp-paginator>

<tpl-dragable-table [items]="pagedItems" [currentPage]="currentPage" [pageSize]="pageSize" [tableConfig]="tableConfig"></tpl-dragable-table>

<tlp-paginator [location]="'bottom'" [currentPage]="currentPage" [totalPages]="totalPages" [pageSize]="pageSize" [pageSizes]="pageSizes"
    (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
</tlp-paginator>