<tlp-paginator [location]="'top'" [totalItems]="pagedItems.length" [currentPage]="currentPage" [totalPages]="totalPages" [pageSize]="pageSize" [pageSizes]="pageSizes"
    (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
</tlp-paginator>

<tpl-dragable-table [items]="pagedItems" [currentPage]="currentPage" [pageSize]="pageSize" [tableConfigParam]="tableConfig" (eventResult)="eventResult($event)"></tpl-dragable-table>

<tlp-paginator [location]="'bottom'"[totalItems]="items.length"  [currentPage]="currentPage" [totalPages]="totalPages" [pageSize]="pageSize" [pageSizes]="pageSizes"
    (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
</tlp-paginator>