.pagination {
    @apply flex items-center flex-wrap gap-1 mt-2.5 pb-2.5;
  }
  
  .pagination-top {
    @apply flex items-center flex-wrap gap-1 mt-4;
  }
  
  button.active {
    @apply bg-slate-600 text-white dark:bg-slate-800;
  }
  
  select {
    @apply px-2 py-1 rounded border border-gray-300 dark:border-gray-600;
  }
  
/* OLD */
/* .pagination {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 10px;
    padding-bottom: 10px;
}
.pagination-top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 17px;
}
button.active {
    background-color: rgb(74 83 98 / var(--tw-bg-opacity, 1));
    color: #fff;
    
}
select {
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
} */

/* NOT USE */
/* button {
    min-width: 25px;
    height: 25px;
    padding: 0 7px;
    border: .7px solid #dee2e6;
    background-color: white;
    color: #212529;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    line-height: 19px;
    transition: background-color 0.2s, color 0.2s;
}

button:hover:not(:disabled) {
    background-color: #f8f9fa;
} */

/* button:disabled {
    opacity: 0.65;
    background-color: #e9ecef;
    color: #6c757d;
    border-color: #dee2e6;
    cursor: not-allowed;
} */