<div #dragArea (mouseleave)="onMouseUpOnItem(-1)" class="drag-container">
    <table class="table-auto w-full border-collapse">
        <thead class="bg-gray-200">
            <th *ngFor="let conf of tableConfig; let cidx = index" class="px-4 py-2">
                {{conf.columnName}}
            </th>
        </thead> 
        <tbody>
            <tr *ngFor="let item of items; let i = index" class="border-t selectable-item"
                [ngClass]="item?.isSelected ? 'selectable-item-selected':''" (mouseup)="onMouseUpOnItem(i)"
                (mousedown)="onMouseDownOnItem(i)" (mouseenter)="onMouseEnterOnItem(i)">
                <td *ngFor="let confValue of tableConfig" class="px-4 py-2">
                    {{item[confValue.valueKey]}}
                </td>
            </tr>
        </tbody>
    </table>
</div>