.selectable-item {
    cursor: pointer;
    padding: 8px;
    border: 1px solid #ccc;
    margin: 2px;
}

.selectable-item-selected {
    background-color: rgb(74 83 98 / var(--tw-bg-opacity, 1));
    color: #fff;
}

.drag-container {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}